.head-yellow{
    background-color: rgba(255, 178, 0, 255);
}
.b-r-1{
    border-radius: 8px;
}
.center-text{
    text-align: center;
}
@media (max-width: 576px)
.wrap-login100 {
    padding: 77px 150px 33px;
}
.wrap-login100 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 33px 55px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
.row-center{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}
.pl-15{
    padding-left: 15px;
}
.pr-15{
    padding-right: 15px;
}
.searchbar {
    border: none;
    outline: none;
    border-radius: 5rem;
    padding-top: 0.1rem;
    padding-right: 2.5rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    transition: all .1s;
    transition-delay: .1s;
    background-color: rgba(242, 214, 19, 255);
}

.button {
    height: 1rem;
    position: absolute;
    top: .4rem;
    right: 1rem;
    transition: all .1s;
    transition-delay: .1s;
}

.button:hover {
    cursor: pointer;
}

.searchbar::placeholder {
    opacity: .3;
}

.container-search{
    height: 100%;
    margin: .4rem 1rem;
    position: relative;
}
.logo{
    width: 2.5rem;
    border-radius: 20px;
    margin-right: 10px;

}
a{
    color: #495057;
    }
.fd{
    flex-direction: column;
    width: 100%;
}
.pl-60{
  padding-right: 1rem;
}
.mt-1_5{
    margin-top: 1.5rem;
}
.text-right{
    text-align: right;
}
.fz-2{
    font-size: 1.75rem
}
.sop{
    width: 20rem;
    height: 13rem;
    padding: 1rem;
}
.rr{
    display: flex;
    flex: 1 0 0%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
}
.br-5{
    border: solid;
    border-color: gray;
    border-radius: 5px;
}
.buttons {
      background-color: #FF4500;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
