{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<section class="">
    <div class="container">
        <h1 class="center-text">Рецепты</h1>
        <table style="width:100%">
            {% for recipe in recipes %}
            <tr>
                <th class="ps-3">
                    &#8194;<a style="font-size: 20px " href="/recipe+{{ recipe.id_recipe }}">{{ recipe.name_recipe }}</a>
                </th>
            </tr>
            <tr>
                <td style="width: 300px">
                    <img style="border-radius: 30px" src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                         class="sop">
                </td>
                <td>
                    <div style="font-size: 20px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;
  -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
                       	&#8194;{{ recipe.description }}
                    </div>
                    <p>
                        &#8194;<a style="font-size: 17px" href="/recipe+{{ recipe.id_recipe }}">Подробнее</a>
                    </p>
                    <p align="right">
                        <a style="font-size: 17px " href="/profile+{{ recipe.nickname }}">{{ recipe.nickname }}</a>
                    </p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}