{% extends 'base.html' %}

{% block title %}
Новый рецепт
{% endblock %}
{% block body %}
<section class="">
    <div class="container">
        <h1 class="center-text">Новый рецепт</h1>
        <br>
        <form action="/new_recipe" method="post">
            <table style="width:100%">

                <tr>
                    <td>
                        <div style="text-align: center; border: 3px dashed grey; width: 300px; padding: 10px;">
                            <div id="dropzone1">
                                Переместите изображения сюда<br>
                                или выберите файлы<br>
                                (поддерживаются <b>JPG</b>, <b>PNG</b>, <b>GIF</b>, <b>WEBP</b>)<br><br>
                                <button class="btn btn-success uploadbtn-ext" type="button"><i
                                        class="fa fa-file-image-o"></i> Выбрать файлы
                                </button>
                            </div>
                            <div id="dropzone2" class="text-center chessbg" style="display:none;">
                                <button id="sourceLeft" class="btn btn-primary"><i class="fa fa-arrow-left"></i>
                                </button>
                                <button id="sourceRight" class="btn btn-primary"><i class="fa fa-arrow-right"></i>
                                </button>
                                <button id="uploadNew" class="btn btn-primary uploadbtn-ext" type="button"><i
                                        class="fa fa-file-image-o"></i> Выбрать файлы
                                </button>
                                <img class="uploadbtn-ext">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-floating">
                            <input type="text" class="form-control" name="nickname" placeholder="Name">
                            <label for="floatingInput">Название</label>
                            <br>
                            <div class="form-floating">
                                <input type="text" class="form-control" name="description"
                                       placeholder="Description">
                                <label for="floatingDescription">Описание</label>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
            <br>
            <div class="form-floating">
                <textarea style="height: 150px;" class="form-control" name="recipe" placeholder="new_recipe"></textarea>
                <label for="floatingRecipe">Рецепт</label>
            </div>
            <br>
            <div style="display: flex; align-items: center; justify-content: flex-end;">
                <button class="btn btn-primary w-20 py-2" style="align-items: right;" type="submit">Сохранить</button>
            </div>


        </form>

    </div>
</section>

{% endblock %}

<form action="" method="post" class="center-text w-100">
    <h1 class="h3 mb-3 fw-normal">Новый рецент</h1>
    <div class="form-floating">
        <input type="text" class="form-control" name="nickname" placeholder="Name">
        <label for="floatingInput">Название</label>
    </div>
    <br>
    <div class="form-floating">
        <input type="password" class="form-control" name="description" placeholder="Description">
        <label for="floatingDescription">Описание</label>
    </div>
    <br>
    <div class="form-floating">
                    <textarea class="form-control" name="recipe" placeholder="new_recipe">
                    </textarea>
        <label for="floatingRecipe">Рецепт</label>
    </div>
    <br>
    <button class="btn btn-primary w-100 py-2" type="submit">Сохранить</button>
</form>

<div class="add-rep-width" style="margin-top: 9px;">
    <a style="z-index: 1; text-decoration: none; border-radius: 7px; padding: 0.375rem 0.75rem; background: #ffc107; color: black; margin-top: 5px;"
       id="openDialog">
        Добавить
    </a>