{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}


{% block body %}
<div>
    <div class="row-center align-items-center" style="height: 80vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form action="/sign_up" method="post" class="center-text w-100 wrap-login100">
                <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" name="nickname" placeholder="Name">
                    <label for="floatingInput">Никнейм</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    <label for="floatingEmail">Почта</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" name="repeatedPassword" placeholder="repeatedPassword">
                    <label for="floatingRepeatedPassword">Повторите пароль</label>
                </div>
                <br>
                <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}